<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Grand+Hotel|Pangolin|Patrick+Hand+SC|Vibur" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link rel="stylesheet" href="{{ global.request.basepath }}/assets/style/style.css">
</head>
<body>

  <div class="header">
    <div class="title-logo">
      <a href="{{ url('home') }}">Polo & Pan</a>
    </div>
    <ul>
      <li>
        <a href=" {{ url('home') }} ">Accueil</a>
      </li>
      <li>
        <a href=" {{ url('albums') }} ">Albums</a>
      </li>
      <li>
        <a href="{{ url('titres') }}">Titres</a>
      </li>
    </ul>
  </div>
