{{include('partials/header.twig')}}

<div class="second-container">
  <div class="title-logo">
    <a href="{{ url('home') }}">Polo & Pan</a>
  </div>
  <div class="header">
    <ul>
      <li>
        <a href=" {{ url('home') }} ">Accueil</a>
      </li>
      <li>
        <a href=" {{ url('albums') }} ">Albums</a>
      </li>
      <li>
        <a href="{{ url('titres') }}">Titres</a>
      </li>
    </ul>
  </div>
</div>

<div class="album-zone">

</div>


</body>
</html>
