{{include('partials/header.twig')}}

<h2 class="title-albums">Albums et EP's</h2>

<div class="albums-display">
  {% for _album in albums %}
    <a href="{{ url('album', {id: _album.id}) }}">
      <div class="album-zone">
        <div class="album-zone-img">
          <img src="{{ global.request.basepath }}/assets/img{{ _album.img }}.jpg" width="100%">
        </div>
        <span>{{ _album.title }}</span>
      </div>
    </a>
  {% endfor %}
</div>

</body>
</html>
